<div class="form">
  <form action="/edit_plofile/<%= @user_id %>" method="POST"  enctype="multipart/form-data">
  <div class="form_item">
      <input type="file" name="plofile_img" value="<%=@users['img']%>">
  </div>

  <div class="form_item">
    <input type="text" name="name" id="name" value="<%=@users['name']%>">
  </div>
  
  <div class="form_item">
    <input type="text" name="user_name" id="user_name" value="<%=@users['user_name']%>">
  </div>

  <div class="form_item">
    <input type="text" name="introduction" id="introduction" value="<%=@users['plofile_contents']%>">
  </div>
  
  <input type="submit" value="save!">
</form>
</div>