<% @posts.each do |post| %>
  <img src="./plofile_img/<%= post['plofile_img']%>" style="height: 50px; width: 50px; border-radius: 50%;">
  <h3><a href="/show_your_plofile/<%=post['user_id']%>">User:<%= post['user_name'] %></a></h3>
  <h4>Title:<%= post['title'] %></h4>
  <h2>Contents:<%= post['contents'] %></h2>
  <img src="./images/<%= post['img'] %>" alt="" style="width: 300px; height: 300px;"> 


  <span><i class="far fa-heart like" style="color:red;" id="lke" data-url="/like/<%= post['id'] %>">Like</i></span>
  <%#↑のデータ属性は、JSがデータを取得するためにある%>
 


  <button><a href="/delete/<%= post['id'] %>">Delete:</a></button>
  <p>=====================================</p>
<% end %> 

<%　if false %>
  <span><i class="fas fa-heart like" style="color:red;" id="lke" data-url="/like/<%= post['id'] %>">Like</i></span>
  <%#↑のデータ属性は、JSがデータを取得するためにある%>
  <span><i class="far fa-heart like" id="unlike"  data-url="/unlike/<%= post['id']%>">Not Like</i></span>
<% end %>