<% @posts.each do |post| %>
  <div class="post_wrapper">
    <div class="post">
      <div class="post_plofile">
        <img src="./plofile_img/<%= post['plofile_img']%>" style="height: 50px; width: 50px; border-radius: 50%;" class="img-thumbnail inline-block_item">

        <h3><a href="/show_your_plofile/<%=post['user_id']%>" 
        
        class="inline-block_item"><%= post['user_name'] %></a></h3>
      </div>
      <img src="./images/<%= post['img'] %>" alt="" style="width: 370px; height: 370px;"> 
      <br>
      <div class="liked_wrapper">
      <% if @like_infos[post['id']] %>
      <span><i class="fas fa-heart liked like_icon" data-url="/like/<%= post['id']%>"></i></span>
      <% else %>
        <span><i class="fas fa-heart unlike like_icon" data-url="/like/<%= post['id']%>"></i></span>
      <% end %>
      </div>
      <div class="contents_wrapper">
        <h5>Title:<%= post['title'] %></h5>
        <h3><%= post['contents'] %></h3>
      </div>
    </div>
  </div>
<% end %> 
